---
export interface Props {
  title: string;
  description: string;
  category: string;
  imageUrl: string;
  imageAlt: string;
}

const { title, description, category, imageUrl, imageAlt } = Astro.props;
---

<img src={imageUrl} alt={imageAlt} />
<h3>{title}</h3>
<p>
  {description}
</p>
<div class="card-footer">
  <p>May 13, 2024</p>
  <p>{category}</p>
</div>
<style>
  img {
    border-radius: 15px;
    margin: 0 auto;
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
  .card-footer {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
</style>
