---
import Card from "./Card.astro";
import cardData from "../data/cards.json";
---
<script src="../scripts/pagination.ts"></script>
<section id="card-list">
  <div id="wrapper" aria-live="polite">
    {
      cardData.map((card) => {
        return (
          <div class="card">
            <Card
              title={card.title}
              description={card.description}
              category={card.category}
              imageUrl={card.imageUrl}
              imageAlt={card.imageAlt}
            />
          </div>
        );
      })
    }
  </div>
  <nav class="pagination-container">
    <button
      class="pagination-button"
      id="prev-button"
      title="Previous"
      aria-label="Previous"
    >
      Previous
    </button>
    <div id="pagination-numbers"></div>
    <button
      class="pagination-button"
      id="next-button"
      title="Next"
      aria-label="Next"
    >
      Next
    </button>
  </nav>
</section>
<style>
  .card {
    background-color: var(--white-color);
    width: 390px;
    height: 439px;
    border-radius: 15px;
    color: var(--card-text-color);
    padding: 25px;
    display: flex;
    flex-direction: column;   
    justify-content: space-between;
  }
  #wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
  }
  #wrapper::after {
    content: "";
    width: 390px;
  }
  .pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
  }
  :global(.pagination-number),
  .pagination-button {
    font-size: 1.2em;
    font-family: "Recursive", sans-serif;
    font-style: italic;
    background-color: transparent;
    color: var(--category-color);
    border: none;
    cursor: pointer;
    padding: 15px 10px;
    margin: 0 10px;
    text-align: left;
  }
  :global(.pagination-number:hover),
  .pagination-button:not(.disabled):hover{
    color: var(--title-color);
  }
  :global(.pagination-number.active) {
    color: var(--title-color);
    border-top: 2px solid var(--title-color);
  }
  .pagination-button.disabled{
    color: var(--hr-color);
    cursor: unset;
  }
  section {
    margin: 100px auto;
    max-width: 1230px;
  }
  .hidden {
    display: none;
  }
</style>
