---
const { title, description, category, imageUrl, imageAlt, date } = Astro.props

const preFormattedDate = new Date(date)
const options: Intl.DateTimeFormatOptions = {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
}
const formattedDate = preFormattedDate.toLocaleDateString('en-US', options);
---

<img src={imageUrl} alt={imageAlt} />
<h3>{title}</h3>
<p>
  {description}
</p>
<div class="card-footer">
  <p>{formattedDate}</p>
  <p class="category-title">{category}</p>
</div>
<style>
  img {
    border-radius: 15px;
    margin: 0 auto;
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
  .card-footer {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
</style>
