---
import Card from './Card.astro'
import Categories from './Categories.astro'
import type { CardType } from '../types/types'

const API_URL = import.meta.env.PROD
  ? 'https://writings-dev-practice.vercel.app/'
  : 'http://localhost:4321/'

const response = await fetch(`${API_URL}/data.json`, {
  headers: {
    'Content-Type': 'application/json',
    Accept: 'application/json',
  },
})
const data = await response.json()
const cards: CardType[] = data.results;
---

<script src="../scripts/pagination.ts"></script>
<script src="../scripts/filters.ts"></script>
<section>
  <Categories />
  <ul id="dataList" aria-live="polite">
    {
      cards.map((card) => {
        return (
          <li class="card">
            <Card
              title={card.title}
              description={card.description}
              category={card.category}
              imageUrl={card.imageUrl}
              imageAlt={card.imageAlt}
              date={card.date}
            />
          </li>
        )
      })
    }
  </ul>
  <nav class="pagination-container">
    <button
      class="pagination-button"
      id="prev-button"
      title="Previous"
      aria-label="Previous"
    >
      Previous
    </button>
    <div id="pagination-numbers"></div>
    <button
      class="pagination-button"
      id="next-button"
      title="Next"
      aria-label="Next"
    >
      Next
    </button>
  </nav>
</section>
<style>
  .card {
    background-color: var(--white-color);
    border-radius: 15px;
    color: var(--card-text-color);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #dataList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    margin-top: 75px;
    list-style: none;
  }
  .pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 75px auto;
  }
  :global(.pagination-number),
  .pagination-button {
    font-size: 1.2em;
    font-family: "Recursive", sans-serif;
    font-style: italic;
    background-color: transparent;
    color: var(--category-color);
    border: none;
    cursor: pointer;
    padding: 15px 10px;
    margin: 0 10px;
    text-align: left;
  }
  :global(.pagination-number:hover),
  .pagination-button:not(.disabled):hover {
    color: var(--title-color);
  }
  :global(.pagination-number.active) {
    color: var(--title-color);
    border-top: 2px solid var(--title-color);
  }
  .pagination-button.disabled {
    color: var(--hr-color);
    cursor: unset;
  }
  section {
    margin: 20px auto;
    max-width: 1230px;
  }
  .hidden {
    display: none;
  }
</style>
