---
import Card from "./Card.astro";
import cardData from "../data/cards.json";
---

<section>
  <div class="wrapper">
    {
      cardData.map((card) => {
        return(
          <div class="card">
            <Card 
              title={card.title}
              description={card.description}
              category={card.category}
              imageUrl={card.imageUrl}
              imageAlt={card.imageAlt}
            />
          </div>
        )
    })
    }
  </div>
  <nav class="pagination-container">
    <button
      class="pagination-button"
      id="prev-button"
      title="Previous"
      aria-label="Previous"
    >
      Previous
    </button>
    <div id="pagination-numbers"></div>
    <button
      class="pagination-button"
      id="next-button"
      title="Next"
      aria-label="Next"
    >
      Next
    </button>
  </nav>
</section>
<style>
  .card {
    background-color: var(--white-color);
    width: 390px;
    height: 439px;
    border-radius: 15px;
    color: var(--card-text-color);
    padding: 20px;
    box-sizing: border-box;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
  }
  .wrapper::after{
    content: "";
    width: 390px;
  }
  .pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  .pagination-number,
  .pagination-button {
    font-size: 1.1rem;
    font-family: "Recursive", sans-serif;
    font-style: italic;
    background-color: transparent;
    color: var(--category-color);
    border: none;
    cursor: pointer;
  }
  section {
    margin: 100px 0;
  }
</style>
